@charset "utf-8";
/* CSS Document */
.test ul{
	list-style:none;
} 
.test li{
	float:left;
	width:100px;
	background:#CCC;
	margin-left:3px;
	line-height:30px;
} 
.test a:link{
	color:#666;
	background:url(arrow_off.gif) #CCC no-repeat 5px 12px;text-decoration:none;
}
.test a:hover{
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background:url(lushi.png) #F00 no-repeat 5px 12px;
}
.test a:visited{
	color:#666;
	text-decoration:underline;
}
.test a{
	display:block;
	text-align:center;
	height:30px;
}
body {
	background-image: url("Tavern.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-indent: 2em;
	color:#E5B423;
}