@charset "utf-8";
/* CSS Document */

.biaoti{
	background:#446080;
	align-content: center;
	color: white;
}
.dan{
	background: #44E0D9;
	align-content: center;
}
.shuang{
	background:#E7E09F;
	align-content: center;
}