@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
ul{
	width:856px;
	height:420px;
	margin:0 auto;
	padding: 12px 0 0 12px;
	border: 1px solid #CCC;
	border-top-style: dotted;
	list-style: none;
}
ul li{
	float: left;
	margin:0 12px 12px 0;
	display: inline;
}
ul li a{
	display: block;
	width: 202px;
	height: 202px;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
}
ul li a ing{
	width: 200px;
	height: 150px;
	border:1px solid #ccc;
}
ul li a strong{
	display: block;
	width:202px;
	height: 30px;
	line-height: 15px;
	font-weight: 100;
	color: #333;
	overflow: hidden;
}
ul li a span{
	display: block;
	width: 202px;
	height: 20px;
	line-height: 20px;
	color: #666;
}
ul li a span em{
	font-style: normal;
	font-weight: 800;
	color: #F60;
}
ul li a:hover img{
	border-color: #F33;
}
ul li a:hover strong{
	color: #03C;
}
ul li a:hover span em{
	color: #F00;
}